{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}

<section class="bar background-white no-mb text-center">

  <div class="heading color-white text-center">
      <h2>{{ .Site.Params.testimonials.title }}</h2>
  </div>


<div class="row">
    <div class="col-md-2">

    </div>   
  
    <div class="col-md-2">
      <center>
        <b>Investigador principal</b>
        <br>
        <br>
        <div class="color">
        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQDP40Y-f64e624eab35-512" alt="avatar" class="profile-pic"> 
        </div> 
        </div> 
        
        <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="http://juancarloscastillo.github.io/jc-castillo/" target="_blank" rel="noopener"> Juan Carlos Castillo</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:juancastillov@uchile.cl"> juancastillov@uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/juancarloscastillo" target="_blank" rel="noopener">juancarloscastillo</a><br>
        </ul>
    </div>

    <div class="col-md-2">
      <center>
        <b>Asistente de Investigación</b>        
        <br>
        <br>
        <div class="color">
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T011KJPE10W-U011ZUXMV89-3fb3f3b84109-512" alt="avatar" class="profile-pic"></div>
        </div>
        <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://coes.cl/integrantes/julio-iturra/" target="_blank" rel="noopener"> Julio Iturra</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:julioiturrasanhueza@gmail.com"> jciturra@uc.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/jciturras" target="_blank" rel="noopener">jciturras</a><br>
        </ul>
      </center>

    </div>

    <div class="col-md-2">
      <center>
        <b>Coordinadora COES</b>        
        <br>
        <br>  
      <div class="color">  
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T011KJPE10W-U020YN76TT3-ecb791e25b3a-512" alt="avatar" class="profile-pic"></div>
      </div>
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://coes.cl/integrantes/natalia-riquelme/" target="_blank" rel="noopener">Natalia Riquelme</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:nzriquelme@uc.cl"> nzriquelme@uc.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/nataliariquelme" target="_blank" rel="noopener">nataliariquelme</a><br>
        </ul>      
    </div>

    <div class="col-md-2">
      <center>
      <b>Practicante</b>   
      <br><br>
      <div class="color">
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARE24HM-418d7a7e413d-512" alt="avatar" class="profile-pic"></div>
      </div>
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/kevin-carrasco-quintanilla/" target="_blank" rel="noopener">Kevin Carrasco</a> <br>          
            <i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl"> kevin.carrasco@ug.uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/Kevin-carrasco" target="_blank" rel="noopener">Kevin-carrasco</a><br>
        </ul>      

    </div>    
    
    <div class="col-md-2">

    </div>   
    

</div>

  <div class="heading color-white text-center">
      <h2>Colaboraciones previas</h2>
  </div>


<div class="row">
    <div class="col-md-2">

    </div>   
      
    <div class="col-md-2">
      <center>
      <b>Asistente de investigación</b>   
      <br><br>   
      <div class="color">
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQGGCC8-d96ec643f6c9-512" alt="avatar" class="profile-pic"></div>
      </div>
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://valentinaandrade.netlify.app/" target="_blank" rel="noopener">Valentina Andrade</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl"> kevin.carrasco@ug.uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/valentinaandrade" target="_blank" rel="noopener">valentinaandrade</a><br>
        </ul> 
      <center>
      <b>Practicante</b>
      <br><br>          
      <div class="color">      
      <div class="image-cropper"><img src="img/testimonials/fran-meneses.jpg" alt="avatar" class="profile-pic"></div>
      </div>
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/francisco-javier-meneses-rivas-63a4a7151/" target="_blank" rel="noopener">Francisco Meneses</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:francisco.meneses@ug.uchile.cl"> francisco.meneses@ug.uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/franciscomeneses" target="_blank" rel="noopener">franciscomeneses</a><br>
        </ul> 
      </center>    
    </div>
    
    <div class="col-md-2">
      <center>
      <b>Pasante</b>   
      <br><br>
      <div class="color">  
        <div class="image-cropper"><img src="img/testimonials/vane-leyton.jfif" alt="avatar" class="profile-pic"></div>
      </div>  
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/vanessa-alejandra-leyton-inostroza-94b99616a/" target="_blank" rel="noopener">Vanessa Leyton</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:vanessa.leyton@ug.uchile.cl"> vanessa.leyton@ug.uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/vanessaleytoninostroza" target="_blank" rel="noopener">vanessaleytoninostroza</a><br>
        </ul> 
    </div>

    <div class="col-md-2">
      <center>
      <b>Pasante</b>   
      <br><br>     
      <div class="color">        
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T0174FHF2G7-U01BJB51U93-75929d92c1c9-72" alt="avatar" class="profile-pic"></div>
      </div>
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/mart%C3%ADn-venegas-m%C3%A1rquez-5770221b7/" target="_blank" rel="noopener">Martin Venegas</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:martin.venegas@ug.uchile.cl"> martin.venegas@ug.uchile.cl</a><br>
            <i class="fab fa-github"></i> <a href="https://github.com/Martin-Venegas-M" target="_blank" rel="noopener">Martin-Venegas-M</a><br>
        </ul> 
    </div>    
   
    <div class="col-md-2">
      <center>
      <b>Coordinador COES</b>
      <br><br>   
      <div class="color">         
        <div class="image-cropper"><img src="img/testimonials/tomas-campos.jfif" alt="avatar" class="profile-pic"></div>
        </div>      
      <br>
        <ul class="icon-list", style = "text-align: left">
            <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/tom%C3%A1s-campos-castro-85a295165/?originalSubdomain=cl" target="_blank" rel="noopener">Tomás Campos</a> <br>
            <i class="fas fa-envelope"></i> <a href="mailto:tcamposcastro@gmail.com"> tcamposcastro@gmail.com</a><br>
        </ul> 
      </center>
    </div>
   

</div>




</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
