{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}

<section class="bar background-white no-mb text-center">
   <div class="heading color-white text-center">
      <h2>{{ .Site.Params.testimonials.title }}</h2>
   </div>
   <div class="row">
      <div class="col-md-12">
          <center>
            <b>Investigador principal</b>
            <br>
            <br>
            <div class="color">
               <div class="image-cropper">
                  <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQDP40Y-f64e624eab35-512" alt="avatar" class="profile-pic"> 
               </div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="https://jc-castillo.com/" target="_blank" rel="noopener"> Juan Carlos Castillo</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:juancastillov@uchile.cl"> juancastillov@uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/juancarloscastillo" target="_blank" rel="noopener">juancarloscastillo</a><br>
            </ul>
         </center>
    </div> 
      </div>
      <div class="row">
      
      <div class="col-md-4">
         <center>
            <b>Asistente de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T01CAH0PN4Q-U02G1ASC7Q8-371768e86424-72" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="https://coes.cl/integrantes/kevin-carrasco-quintanilla/" target="_blank" rel="noopener"> Kevin Carrasco</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl"> kevin.carrasco@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/Kevin-carrasco" target="_blank" rel="noopener">kevin-carrasco</a><br>
            </ul>
         </center>
      </div>
            <div class="col-md-4">
         <center>
            <b>Asistente de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T01CAH0PN4Q-U0562783L03-19227b16cf20-72" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="https://coes.cl/integrantes/cristobal-ortiz/" target="_blank" rel="noopener"> Cristóbal Ortiz</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:cristobalortizvi@gmail.com"> cristobalortizvi@gmail.com</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/cristobalortizvilches" target="_blank" rel="noopener">cristobalortizvilches</a><br>
            </ul>
         </center>
      </div>
            <div class="col-md-4">
         <center>
            <b>Asistente de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="img/testimonials/nicolas-tobar.jpeg" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="https://oles2.netlify.app/author/nicolas-tobar-jorquera/" target="_blank" rel="noopener"> Nicolás Tobar</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:nicolas.tobar@ug.uchile.cl"> nicolas.tobar@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/nicolastobarj" target="_blank" rel="noopener">nicolastobarj</a><br>
            </ul>
         </center>
      </div>
   </div>
      <div class="row">
      
      <div class="col-md-7">
         <center>
            <b>Ayudante de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="img/testimonials/moira-martinez.jpg" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="" target="_blank" rel="noopener"> Moira Martinez</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:moira0martinez@gmail.com"> moira0martinez@gmail.com</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/moiramartinez" target="_blank" rel="noopener">moiramartinez</a><br>
            </ul>
         </center>
      </div>
            <div class="col-md-3">
         <center>
            <b>Ayudante de Investigación</b>        
            <br>
            <br>
            <div class="color">
               <div class="image-cropper"><img src="img/testimonials/valentina-frometa.jpg" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: center">
               <i class="fas fa-user"></i> <a href="" target="_blank" rel="noopener"> Valentina Frómeta</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:valentina.frometa@ug.uchile.cl"> valentina.frometa@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/valentinafrometa" target="_blank" rel="noopener">valentinafrometa</a><br>
            </ul>
         </center>
      </div>
   </div>
</section>

<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
