<section class="bar background-white no-mb">
   <div class="row">
      <div class="col-md-4">
         <center>
            <b>Asistente de investigación</b>   
            <br><br>   
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQGGCC8-d96ec643f6c9-512" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://valentinaandrade.netlify.app/" target="_blank" rel="noopener">Valentina Andrade</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:valentinaandrade@uchile.cl"> valentinaandrade@uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/valentinaandrade" target="_blank" rel="noopener">valentinaandrade</a><br>
               <i class="fas fa-calendar"></i> <a >2020 - 2021</a><br>
            </ul>
         </center>
      </div>
      <div class="col-md-4">
         <center>
            <b>Pasante</b>   
            <br><br>
            <div class="color">
               <div class="image-cropper"><img src="../img/testimonials/vane-leyton.jfif" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/vanessa-alejandra-leyton-inostroza-94b99616a/" target="_blank" rel="noopener">Vanessa Leyton</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:vanessa.leyton@ug.uchile.cl"> vanessa.leyton@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/vanessaleytoninostroza" target="_blank" rel="noopener">vanessaleytoninostroza</a><br>
               <i class="fas fa-calendar"></i> <a >2021</a><br>                             
            </ul>
         </center>
      </div>
      <div class="col-md-4">
         <center>
            <b>Pasante</b>   
            <br><br>     
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T0174FHF2G7-U01BJB51U93-75929d92c1c9-72" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/mart%C3%ADn-venegas-m%C3%A1rquez-5770221b7/" target="_blank" rel="noopener">Martin Venegas</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:martin.venegas@ug.uchile.cl"> martin.venegas@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/Martin-Venegas-M" target="_blank" rel="noopener">Martin-Venegas-M</a><br>
               <i class="fas fa-calendar"></i> <a >2021</a><br>                             
            </ul>
         </center>
      </div>      
   </div>
   <div class="row">
      <div class="col-md-4">
         <center>
            <br>
            <b>Coordinador COES</b>
            <br><br>   
            <div class="color">
               <div class="image-cropper"><img src="../img/testimonials/tomas-campos.jfif" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/tom%C3%A1s-campos-castro-85a295165/?originalSubdomain=cl" target="_blank" rel="noopener">Tomás Campos</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:tcamposcastro@gmail.com"> tcamposcastro@gmail.com</a><br>
               <i class="fas fa-calendar"></i> <a >2020 - 2021</a><br>                             
            </ul>
         </center>
      </div>
      <div class="col-md-4">
         <center>
            <br>
            <b>Practicante</b>
            <br><br>          
            <div class="color">
               <div class="image-cropper"><img src="../img/testimonials/fran-meneses.jpg" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/francisco-javier-meneses-rivas-63a4a7151/" target="_blank" rel="noopener">Francisco Meneses</a> <br>
               <i class="fas fa-envelope"></i> <a href="mailto:francisco.meneses@ug.uchile.cl"> francisco.meneses@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/franciscomeneses" target="_blank" rel="noopener">franciscomeneses</a><br>
               <i class="fas fa-calendar"></i> <a >2020 - 2021</a><br>               
            </ul>
         </center>
      
      </div>      
<br>      
      <div class="col-md-4">
         <center>
            <b>Practicante</b>   
            <br><br>
            <div class="color">
               <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARE24HM-418d7a7e413d-512" alt="avatar" class="profile-pic"></div>
            </div>
            <br>
            <ul class="icon-list", style = "text-align: left">
               <i class="fas fa-user"></i> <a href="https://www.linkedin.com/in/kevin-carrasco-quintanilla/" target="_blank" rel="noopener">Kevin Carrasco</a> <br>          
               <i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl"> kevin.carrasco@ug.uchile.cl</a><br>
               <i class="fab fa-github"></i> <a href="https://github.com/Kevin-carrasco" target="_blank" rel="noopener">Kevin-carrasco</a><br>
               <i class="fas fa-calendar"></i> <a >2021 - 2022</a><br>                    
            </ul>
         </center> 
      </div>       
   </div>
</section>